.my-footer {
    margin: 0;
    height: 1em;
    background-color: #163b65;
    margin-top: 1.5em;
    padding: 2em;
    color: #fff;
    font-size: 1rem;
}

.carousel {
    height: 75vh;
    overflow: hidden;
}

.carousel-item {
    height: 75vh;
}

.room-image {
    width: 50%;
}

.search-form {
    margin: 20px auto;
}

.reservation-date {
    margin: 30px 0;
}

.make-reservation-body .form-div {
    border-radius: 20px;
    max-width: 458px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.pagination nav {
    margin: 20px auto;
}

.room .card {
    margin: 19px 0;
}