{{template "base" .}}

{{define "content"}}
{{$res := index .Data "reservation"}}
{{$room := index .Data "room"}}
{{$from := index .StringMap "startDate"}}
{{$to := index .StringMap "endDate"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Reservation Summary</h1>

            <table class="table table-striped">
                <thead></thead>
                <tbody>


                    <tr>
                        <td>Name :</td>
                        <td>{{$res.FirstName}} {{$res.LastName}}</td>
                    </tr>

                    <tr>
                        <td>Room name :</td>
                        <td>{{$room.RoomName}}</td>
                    </tr>


                    <tr>
                        <td>Arrival :</td>
                        <td>{{$from}}</td>
                    </tr>
                    <tr>
                        <td>Departure :</td>
                        <td>{{$to}}</td>
                    </tr>
                    <tr>
                        <td>Email :</td>
                        <td>{{$res.Email}}</td>
                    </tr>
                    <tr>
                        <td>Phone :</td>
                        <td>{{$res.Phone}}</td>
                    </tr>
                </tbody>
            </table>
            <hr>

        </div>
    </div>
</div>

{{end}}